### Password Strength

This prediction aims to notify users the strength of thier password during the sign-Up 
Content by use of Machine Learning :
1. Classify the password into { Weak ,Medium , Strong }
2. Checking Password rules { digits, Special Symbols, Frequencies, etc.}

### 1. loading & Cleaning Data

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [4]:
con = sqlite3.connect(r"password_data.sqlite")

In [5]:
data= pd.read_sql_query("SELECT * FROM Users" ,con)

In [8]:
data.head()

   index                 password  strength
0      0                zxe870819         1
1      1             xw46454nr23l         1
2      2                soporte13         1
3      3  accounts6000webhost.com         2
4      4                 c443balg         1

In [9]:
data.shape

(100000, 3)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   index     100000 non-null  int64
 1   password  100000 non-null  object
 2   strength  100000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [12]:
data.drop(["index"] , axis=1 , inplace=True)

In [14]:
data.duplicated().sum()

0

In [15]:
data.isnull().sum()

password    0
strength    0
dtype: int64

In [16]:
data["strength"].value_counts()

strength
1    73883
0    13622
2    12495
Name: count, dtype: int64

### 2. Semantic Analysis 

- How many password textual holds only numeric characters ?
- How many password textual holds only Upper-case character ?
- How many password textual holds only alphabet ?
- How many password textual holds alpha-numeric character ?
- How many password textual holds title-case character ?
- How many password textual holds some special special character ?

In [20]:
# How many password textual holds only numeric characters ?
data['password'].str.isnumeric().sum()

26

In [23]:
data[data['password'].str.isnumeric()]

      password  strength
12280   943801         0
14992    12345         0
20958   147856         0
21671   140290         0
23269   123987         0
28569  1233214         0
31329  0159456         0
32574   363761         0
37855  4524344         0
43648  5521597         0
45271   626262         0
52266   156651         0
58717      369         0
59619   151106         0
67723     1234         0
68106  1995151         0
68592   112233         0
69255  9562489         0
74938       12         0
77298    18731         0
86406     1050         0
86608   158491         0
94908   060415         0
96459        1         0
98122  6975818         0
98248   454545         0

> There is 26 Passwords that is numeric by it self. which is weakly appointed.

In [25]:
# How many password textual holds only Upper-case character ?
data['password'].str.isupper().sum()

1506

> there is 1506 of pass are capitilized.

In [28]:
# How many password textual holds only alphabet ?
data['password'].str.isalpha().sum()

50

In [32]:
# How many password textual holds alpha-numeric character ?
data['password'].str.isalnum().sum()

97203

In [34]:
# How many password textual holds title-case character ?
data['password'].str.istitle().sum()

932

In [35]:
# How many password holds some special character ?
data['password'].str.istitle().sum()

932

In [36]:
import string

In [41]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [42]:
def find_semantics(row):
    for char in row:
        if char in string.punctuation:
            return 1
        else:
            pass

In [43]:
data[data["password"].apply(find_semantics)==1]

                      password  strength
3      accounts6000webhost.com         2
68                12463773800+         1
98                  p.r.c.d.g.         1
145                  cita-cita         1
180         karolina.susnina0U         2
...                        ...       ...
99748             maiselis.com         1
99845          hosting4meze!@#         2
99954         semista_bakung15         2
99980         halflife2010!LEB         2
99988                lbhtrnjh@         1

[2663 rows x 2 columns]

### 3. Feature Engineering 

- UpperCase
- LowerCase 
- Symbols 
- Length

In [44]:
any(l.isupper() for l in data['password'])

True

In [53]:
data['length']=data['password'].str.len()

In [55]:
data['length'].value_counts()

length
9      21570
10     20426
8      16782
16      8320
7       7558
11      6759
6       6030
12      5398
13      2948
14      1581
15      1564
17       268
18       181
20       175
19       111
21       104
22        43
24        36
23        36
5         25
25        18
26        18
27        15
30        11
28         7
3          5
4          2
45         1
1          1
29         1
100        1
220        1
2          1
40         1
64         1
32         1
Name: count, dtype: int64